p{
    background: darkgreen;
    
    margin-left: 
    margin-right: 
    margin-bottom: 
}
div{
    backgroun
    
    margin-left: lightyellow;
    margin-right: lightpink;
    margin-bottom: rgb(209, 94, 94);
}